@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.nav-wrapper{
    background:  rgba(0,0,0,0.1);
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    transition: 0.5s;
    backdrop-filter: blur(50px);
}

.nav-content{
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 1rem 0; */
    margin: 0;
}

.logo{
    width: 12rem;
    height: auto;
}
.name{
   padding-left: 40px;
}

.name h2{
    font-weight: 10000;
    font-size: 1.8rem;
}

.nav-content ul{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.nav-content li{
    margin: 0 1.5rem;
}



.contact-btn{
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    columns: #fff;
    background: linear-gradient(90deg, #a993fe 0% ,#7e61e7 100%);
    padding: 0.6rem 2rem ;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-btn:hover{
    color: #a993fe;
    background: #000;
    outline: 1.5px solid #a993fe;
}

.menu-btn{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.4rem;
    color: #000000;
    background: linear-gradient(90deg, #a993fe -0.13s ,#7e61e7 99.87);
    line-height: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    display: none;
}

.meni-btn:hover{
    color: #a993fe;
    background: #000;
    border: 1px solid #7e61e7;
}


@media (max-width:425px){
    .logo {
        width: 10rem;
        height: auto;
    }
}

@media (max-width: 769px){
    .menu-btn{
        display: block;
    }

    .nav-content ul{
        display: none;
    }
}

@media(max-width: 1325px) {
    .nav-wrapper{
        padding: 0.2rem;
    }
    
}



.custom-btn {
    text-decoration: none;
    width: 2rem;
    height: 1rem;
    color: black;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
  
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
    transition: 0.5s;
  }
  
  .btn-2 {
    background: #7e61e7;
    background: linear-gradient(90deg, #ffffff 0%, #7e61e7 100%);
    border: none;
    transition: 0.3s;
  }
  
  .btn-2:before {
    height: 0%;
    width: 2px;
    /* transition: 0.3s; */
  }
  
  .btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  





  .ui-btn {
    --btn-default-bg: #7e61e7;
    --btn-padding: 15px 20px;
    --btn-hover-bg: #7e61e7;
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #FAC921;
    --default-btn-color: #fff;
    --font-size: 16px;
    /* 👆 this field should not be empty */
    --font-weight: 600;
    --font-family: Menlo,Roboto Mono,monospace;
    /* 👆 this field should not be empty */
  }
  
  /* button settings 👆 */
  
  .ui-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    margin-left: 20px;
    height: 2.4rem;
  }
  
  .ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }
  
  .ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
  }
  
  .ui-btn:hover, .ui-btn:focus {
    background: var(--btn-hover-bg);
  }
  
  .ui-btn:hover span, .ui-btn:focus span {
    color: var(--hover-btn-color);
  }
  
  .ui-btn:hover span::before, .ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
  }
  
  @keyframes chitchat {
    0% {
      content: "#";
    }
  
    5% {
      content: ".";
    }
  
    10% {
      content: "^{";
    }
  
    15% {
      content: "-!";
    }
  
    20% {
      content: "#$_";
    }
  
    25% {
      content: "№:0";
    }
  
    30% {
      content: "#{+.";
    }
  
    35% {
      content: "@}-?";
    }
  
    40% {
      content: "?{4@%";
    }
  
    45% {
      content: "=.,^!";
    }
  
    50% {
      content: "?2@%";
    }
  
    55% {
      content: "\;1}]";
    }
  
    60% {
      content: "?{%:%";
      right: 0;
    }
  
    65% {
      content: "|{f[4";
      right: 0;
    }
  
    70% {
      content: "{4%0%";
      right: 0;
    }
  
    75% {
      content: "'1_0<";
      right: 0;
    }
  
    80% {
      content: "{0%";
      right: 0;
    }
  
    85% {
      content: "]>'";
      right: 0;
    }
  
    90% {
      content: "4";
      right: 0;
    }
  
    95% {
      content: "2";
      right: 0;
    }
  
    100% {
      content: "";
      right: 0;
    }
  }